html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #ebe6e4;
  overflow-x: hidden; /* Prevent horizontal scroll due to overflowing elements */
    scroll-behavior: smooth;
}
.header {
    background:#ebe6e4;
    color:#1e453e;
    display : inline-flex;
    min-width: 100%;
    height: 110px;
    justify-content: space-between;
    z-index : 100;
}
.header img
{
    position: relative;
    width : 200px;
    height: 200px;
    top : -38px;
}
nav{
    display: flex;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    left: 850px;
    justify-content: center;
    top : 50px;
    font-family: Verdana, monospace;
    font-weight: lighter;

}
nav ul li {
    margin-right: 25px;
    position: relative;
}
.header ul li a {
    text-decoration: none;
    color: black;
}

.header ul li a:hover {
    color: darkgreen;
}
nav ul li a::after {
    content: ''; /* Create a pseudo-element */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: darkgreen;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}
.header .button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #1e453e;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    position: fixed;
    margin-top: -363px;
    margin-right: 30px;
}
.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
:target {
    scroll-margin-top: 150px; /* Adjust this value based on your sticky header height */
}
.container{
    width: 100%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}
.hero-heading{
    background-color:#306844;
    max-width: 100%;
    height: 500px;
    margin-top : -100px;
}
.hero-heading .contents{
    color: white;
    padding : 20px 50px;
    justify-content: space-between;
    margin-left: 115px;
}
.heading{
    font-size : 40px;
    margin-top : 180px;
}
.contents .get-button{
    position: sticky;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #1a1b1f;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    text-decoration: none;
    margin-right : 1245px;
    z-index: 0;
}
.features-list{
    padding : 80px 30px;
    position : relative;
    max-height: 500px;
    background-color: #ebe6e4;
}
.featureswrappertwo{
    justify-content: space-between;
    align-items: flex-start;
    display:flex;
}
.features-left h1{
    font-size: 40px;
    position: relative;
    top : 5px;
}
.features-left {
    flex-direction : column;
    justify-content : flex-start;
    align-items: flex-start;
    max-width : 45%;
    display:flex;
    margin-top: 80px;
}
.features-paragraph{
    margin-bottom : 80px;
}
.text-link-arrow{
    color:#1a1b1f;
    justify-content : flex-start;
    align-items: center;
    font-size :14px;
    line-height : 20px;
    text-decoration : none;
    display: flex;
}
.arrow-embed{
    margin-left : 2px;
    display: flex;
}
.features-right {
    flex-direction : column;
    justify-content : flex-start;
    align-items: flex-start;
    display:flex;
    margin-left: auto;
    text-align: justify;
}
.features-block-two{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    bottom : 280px;
    right : -600px;
}
.features-image{
    object-fit : cover;
    width : 90px;
    height: 90px;
    position: relative;
    margin-left: 10px;
    padding: 8px;
}
.know-your-dosha {
    margin: 0;
    padding: 40px 20px;
    text-align: justify;
    background-color: #306844;
}
.know-your-dosha h3{
    color: #ebe6e4;
    font-size: 40px;
}
.dosha-paragraph {
    margin-bottom: 20px;
    font-size: 16px;
    color: #ebe6e4;
    max-width: 900px;
}
.quiz-link {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 25px;
    background-color: #1a1b1f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-left : 930px;
    margin-bottom: 100px;
    position: relative;
    top : -140px;
}

.quiz-link:hover{
    background-color: #ebe6e4;
    text-decoration: none;
    color: #1e453e;
}
.blogs-section {
    margin-top: -30px;
}
.blogs-section h4{
    position: relative;
    top : -5px;
    color: #ebe6e4;
    font-size: 25px;
}
.blogs-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.blog {
    flex: 1;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

.blog h5 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ebe6e4;
}

.blog-preview {
    margin-bottom: 20px;
    color: #ebe6e4;

}

.blog-link {
    color: white;
    text-decoration: none;
    margin-bottom : 10px;
}
.blog-link:hover{
    color: white;
    text-decoration: underline;
}

.testimonial {
    padding: 80px 30px;
    position: relative;
}

.demo {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ebe6e4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}
.demo h2 {
    text-align: center;
    color: #1e453e;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
}
#testimonial-slider {
    padding: 30px 20px;
}
.testimonial {
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}
h3.title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #1e453e; /* Green color */
}
.post {
    display: block;
    font-size: 14px;
    color: #888;
    margin-top: 5px;
    font-style: italic;
}
.slick-prev:before,
.slick-next:before {
    color: #1e453e;
    font-size: 30px;
}
.slick-prev:hover:before,
.slick-next:hover:before {
    color: #1e453e;
}

.slick-next {
    margin-right: 15px;
}
.slick-prev{
    margin-left:13px;
}
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
    h2 {
        font-size: 24px;
    }
}

#generic_price_table {
    background-color: #306844;;
    padding: 50px 0;
}

#generic_price_table .generic_content {
    background-color: #ebe6e4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#generic_price_table .generic_content:hover {
    transform: translateY(-10px);
}

.price-heading h1 {
    color: #ebe6e4;
    margin-bottom: 50px;
    text-align: center;
}

.generic_price_tag .price {
    font-size: 2.5rem;
    color: #414141;
    font-weight: 300;
}

.generic_feature_list ul {
    padding-left: 0;
}

.generic_feature_list ul li {
    list-style-type: none;
    padding: 10px 0;
    color: #666;
}

.generic_price_btn a {
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 25px;
    color: #fff;
    background-color: #1e453e;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.generic_price_btn a:hover {
    background-color: darkgreen;
    color:#fff;
    text-decoration: none;
}
.footer-subscribe{
    background-color: #ebe6e4;
    border-bottom: 1px solid #e4ebf3;
    padding : 50px 30px 40px;
    position: relative;
}
.subscription
{
    mix-blend-mode: normal;
    background-color: #306844;
    margin-bottom: 40px;
    padding: 64px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.title
{
    color : #fff;
    text-align: center;
    flex:1;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
}
.footer-wrapper
{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.enter-mail{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    width : 45%;
    margin: 0 auto;
}
.footer input{
    border : 1px #000;
    width : 460px;
    height : 48px;
    margin-bottom: 0;
    padding : 12px 180px 12px 20px;
}
.email {
    padding: 15px 130px 15px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    height: auto;
    box-sizing: border-box;
}

.button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    background-color: #1e453e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-family: Arial;
}

.button:hover {
    background-color: #0056b3;
}
.footer-block
{
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
}
.footer-link
{
    color : #1a1b1f;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}
.footer-social{
    justify-content: flex-start;
    align-items: center;
    margin-left: -32px;
    display: flex;
}
.footer-social img{
    width:20px;
    height:20px;
}
.footer-social a{
    margin-left: 32px;
}

.footer-bottom
{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.footer-copyright
{
    color : #3a4554;
}
.footer-legal-block
{
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.footer-legal-link
{
    color : #3a4554;
    margin-left: 24px;
}
.footer-legal-link:hover
{
    color : #3a4554;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-block,
.footer-social {
    display: flex;
    justify-content: center;
}

.footer-must {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.footer-legal-block {
    margin-top: 10px;
}

.footer-legal-link {
    margin-right: 15px;
}

.footer-copyright {
    margin-bottom: 10px;
}

/* Style for the questions container */
#quiz-container {
    max-height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

/* Overview section styling remains unchanged */
#overview {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-y: auto;
    word-wrap: break-word;
    box-sizing: border-box;
}


/* Style for each overview item */
.overview-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Style for the question heading */
.overview-question {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Style for the answer text */
.overview-answer {
    font-size: 1em;
    color: #333;
}

/* Style for when no answer is selected */
.no-answer {
    color: #e74c3c;
    font-weight: bold;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
    #overview {
        padding: 15px;
        font-size: 0.9em; /* Reduce font size for smaller screens */
    }

    .overview-item {
        padding: 8px;
    }
}
