<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>Annapurna Blog</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet"/>
</head>
<body>
<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
<div class="container">
	<a class="navbar-brand" href="{{ url_for('index') }}"><strong>Annapurna</strong></a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarColor02" style="">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('mindfulness') }}">Mindfulness</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('mindfulness') }}">Remedies</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('mindfulness') }}">Selfcare</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('mindfulness') }}">Recipes</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('mindfulness') }}">Yoga</a>
			</li>
		</ul>
	</div>
</div>
</nav>

<div class="container">
    <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
        <div class="h-100 tofront">
            <div class="row justify-content-between">
                <div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
                    <p class="text-uppercase font-weight-bold">
                        <a class="text-danger" href="./category.html">Stories</a>
                    </p>
                    <h1 class="display-4 secondfont mb-3 font-weight-bold">{{ article.title }}</h1>
                    
                    <div class="d-flex align-items-center">
                        <small> 
                            <span class="text-muted d-block">{{ article.datePublished }} &middot; {{ article.readingTime }}</span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 pb-4">
	<div class="row justify-content-center">
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top text-center">
				<div class="text-muted">
					Share this
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-8">
			<article class="article-post">
				{% for paragraph in article.content.split('\n') %}
					<p>{{ paragraph }}</p>
				{% endfor %}
			</article>			
			<div class="border p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-5 mb-2 mb-md-0">
						<h5 class="font-weight-bold secondfont">Become a member</h5>
						 Get the latest news right in your inbox. We never spam!
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<input type="text" class="form-control" placeholder="Enter your e-mail address">
							</div>
							<div class="col-md-12 mt-2">
								<button type="submit" class="btn btn-success btn-block">Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
<div class="container pt-4 pb-4">
	<h5 class="font-weight-bold spanborder"><span>Read next</span></h5>
	<div class="row">
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">
				<div style="background-size: cover; background-position: center; background-image:url('/static/assets/img/1.png'); width: 100%; height: 100vh; background-repeat: no-repeat;">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="#">Ayurveda 101: The Essence of Holistic Wellness</a>
					</h2>
					<p class="card-text">
						Discover how Ayurveda brings balance to mind, body, and spirit through personalized food choices.
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{ url_for('static', filename='assets/img/9.png') }}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">The Power of Ayurvedic Detox: Cleansing for Clarity</a>
						</h2>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{ url_for('static', filename='assets/img/10.png') }}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Yoga and Ayurveda: The Ultimate Synergy for Mind-Body Harmony</a>
						</h2>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="{{ url_for('static', filename='assets/img/11.png') }}">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Morning Rituals for a Balanced Day: An Ayurvedic Approach</a>
						</h2>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mt-5">
	<footer class="bg-white border-top p-3 text-muted small">
	<div class="row align-items-center justify-content-between">
		<div>
			<span class="navbar-brand mr-2"><strong>Annapurna</strong></span> Copyright &copy;
			<script>document.write(new Date().getFullYear())</script>
			 . All rights reserved.
		</div>
	</div>
	</footer>
</div>
<script src="{{ url_for('static', filename='assets/js/vendor/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/functions.js') }}" type="text/javascript"></script>
</body>
</html>